main {
	background-color: #84CEEB;
	border-radius: 30px;
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: 8% 92%;
	grid-template-areas: 
	"dmtop dmtop"
	"dmside dmc"
}
#dmtop {
	grid-area: dmtop;
	background-color: powderblue;

}
#dmside {
	grid-area: dmside;
	background-color: mediumslateblue;
	border-right: dashed 3px #000000;
}
#dmc {
	grid-area: dmc;
	text-align: center;
}
#back {
	height: 44px;
	width: 44px;
	padding-left: 20px;
	padding-right: 10px;
	border-right: solid 1px #000000;
}
#ecardcan {
	/*width: 400px;
	height: 500px;*/
	border: dashed 1px black;
	position: relative;
	top: 10%;
	text-align: center;
}
#dmsic {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 30px;
}
#dmsic div, #dmsic label {
	color: snow;
}
#ClearButtonflot {
	float: right;
}
#canwrite {

}

.color {
  width: 20px;
  height: 10px;
  border: dotted 1px black;
  margin: 5px;
}

#r {
  background-color: red;
  grid-area: r;
}
#o {
  background-color: orange;
  grid-area: o;
}
#y {
  background-color: yellow;
  grid-area: y;
}
#g {
  background-color: green;
  grid-area: g;
}
#b {
  background-color: blue;
  grid-area: b;
}
#i {
  background-color: indigo;
  grid-area: i;
}
#v {
  background-color: violet;
  grid-area: v;
}
#colorcon {
	margin: auto;
	height: 10px;
	display: grid;
	grid-template-rows: 10px;
	grid-template-columns: 20px 20px 20px 20px 20px 20px 20px;
	grid-template-areas: 
	"r o y g b i v";
	grid-column-gap: 10px;
	padding-bottom: 1em;
}
#canwrite {
	border: solid 1px black;
}
#sal {
	padding-top: 1em;
}
#bcon {
	padding-top: 10px;
	height: 160px;
	width: 270px;
	overflow: scroll;
}
#bcon img {
	width: 120px;
	height: 160px;
}
.center {
	text-align: center;
}
#cardtype {
	text-align: center;
	width: 100%;
}