#pname {
	text-align: center;
	position: relative;
	top: 150px;
	left: 50%;
	height: 1em;
	width: 300px;
}
#paddr {
	padding-left: 50px;
	text-align: center;
	position: relative;
	top: 180px;
	left: 50%;
	height: 3em;
	width: 200px;
}
#pdate {
	text-align: center;
	position: relative;
	top: 240px;
	left: 50%;
	height: 1em;
	width: 300px;
}
#pgreet {
	text-align: center;
	position: relative;
	top: 180px;
	left: 50%;
	height: 1em;
	width: 300px;
}