#pname {
	text-align: center;
	position: fixed;
	top: 40%;
	left: 50%;
	height: 1em;
	width: 300px;
}
#paddr {
	padding-left: 50px;
	text-align: center;
	position: fixed;
	top: 45%;
	left: 50%;
	height: 3em;
	width: 200px;
}
#pdate {
	text-align: center;
	position: fixed;
	top: 55%;
	left: 50%;
	height: 1em;
	width: 300px;
}
#pgreet {
	text-align: center;
	position: fixed;
	top: 60%;
	left: 50%;
	height: 1em;
	width: 300px;
}