#menucon {
			visibility: hidden;
		}

@media screen and (max-width: 600px) {
		    .navab {
   				display: block;
 			}
 			#menucon {
				visibility: visible;
				float: right;
				padding-top: 0.5em;
				padding-right: 10px;
			}
			#menuimg {
				height: 2em;
				width: 2em;
			}
			#menuimg:hover {
				background-color: grey;
				border-radius: 5px;
				opacity: 0.5;
			}